<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Site</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let item of userList; let i = index">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.website}}</td>
        <td>
            <app-delete (click)="onClickDelete(item._id)"></app-delete>
            <app-edit (click)="onClickEditar(item._id)"></app-edit>
        </td>
    </tr>
</table>
<section *ngIf="openEdit">
    <div>
        <form>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" [(ngModel)]="selectedItem.username" name="username"/>
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name"  [(ngModel)]="selectedItem.name" name="name"/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="E-mail"  [(ngModel)]="selectedItem.email" name="email"/>
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Phone"  [(ngModel)]="selectedItem.phone" name="phone"/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Website</mat-label>
                <input matInput placeholder="Website"  [(ngModel)]="selectedItem.website" name="website"/>
            </mat-form-field>
        </form>
    </div>
</section>
<div class="buttonBar">
    <button *ngIf="!editing; else saveButtons"  mat-fab color="primary" (click)="onClickAdd()">
        <mat-icon>add</mat-icon>
    </button>
    <ng-template #saveButtons>
        <div >
            <button mat-raised-button color="primary" class="button" (click)="onClickSave()">Save</button>
            <button mat-stroked-button color="primary" class="button" (click)="onClickCancel()">Cancel</button>
        </div>
    </ng-template>
</div>
